# References
# https://www.npmjs.com/package/@zero-company/zero-community
# https://www.npmjs.com/package/@zero-company/zero-config
# https://github.com/zero-company/zero-community

# Fix pnpm missing peer dependencies
auto-install-peers = true

# Fix confusion between npm dependencies and workspaces, my-lib: workspace:^1.0.0
# https://pnpm.io/workspaces
link-workspace-packages = false

# Fix pnpm issues with several dependencies
node-linker = hoisted

# Isolate workspace
# recursive-install=false

# Access private github package
# @zero-company:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${ZERO_READONLY_GITHUB_TOKEN_V1}
